{% extends "base.html" %}

{% block body %}

{% if messages or password_form.errors %}
<ul class="messages{% if not password_form.errors %} messages--success{% endif %}" id="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form class="django-form" method="post" action="{{request.path}}?type=password">
  {% csrf_token %}
  {{ password_form.as_p }}

  <input class="btn" type="submit" value="Change" />
</form>
{% comment %}
<form class="django-form" method="post" action="{{request.path}}?type=details">
  {% csrf_token %}
  {{ user_form.as_p }}

  <input class="btn" type="submit" value="Change" />
</form>
{% endcomment %}

{% endblock %}
