{% load static from staticfiles %}
{% load data_extras %}
<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8"/>
    <!--<link rel="stylesheet" href=""/>
    <script src="" async/></script>-->
    <!-- prefetch -->
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <style>@ms-viewport, @viewport { width: device-width !important; }</style>
    {% if request.extra.INLINE_CSS %}
      <!-- Inline a basic stylesheet to improve page render speed and fault tolerance: hhttp://decadecity.net/blog/2014/05/07/asynchronous-css-delivery-for-fault-tolerance -->
      <style>{{ request.extra.HEAD_CSS|safe }}</style>
    {% else %}
      <link href="{% static 'css/head.css' %}?_={{ request.extra.CACHE_BUSTER }}" rel="stylesheet"/>
    {% endif %}
    <style>{% block styles %}{% endblock %}</style>

    <link rel="prefetch" href="{% static 'js/main.min.js' %}?_={{ request.extra.CACHE_BUSTER }}"/>
    <link rel="dns-prefetch" href="//stats.decadecity.net"/>

    <title>{% block title %}Caffeine Tracker{% endblock %}</title>
    <!--<meta name="" content=""/>-->
    <script>
window.CAFFEINE_TRACKER = {
  'config': {
    'cache_buster': '{{ request.extra.CACHE_BUSTER }}', // Passing the cache buster from the server to the client.
    'ctm': false, // Have we cut the mustard?
    'static_path': '{% static '' %}', // Passing the path to static content from the server to the client.
  },
  'loading': {
    'loading': false
  }
};
if ('querySelector' in document && 'addEventListener' in window  && ("classList" in document.createElement("_")) && Object.prototype.toString.call(window.operamini) !== "[object OperaMini]") {
  // Remember that we have cut the mustard to save checking again in the future.
  window.CAFFEINE_TRACKER.config.ctm = true;
  // CSS hook to allow styling for an initial state when JS is enabled: http://decadecity.net/blog/2013/07/30/coping-without-javascript#css
  document.querySelector('html').classList.add('js', 'js--loading');
  window.CAFFEINE_TRACKER.loading.loading = true;
  window.CAFFEINE_TRACKER.loading.timeout = setTimeout(function() {
    window.CAFFEINE_TRACKER.loading.loading = false;
    document.querySelector('html').classList.remove('js--loading', 'js');
  }, 5000);
}
    </script>
  </head>
  <body>
  <div class="layout__wrapper"><div class="layout__innerwrapper">
    <section class="layout__window">
    <header>
    {% if user.is_authenticated %}
      <p class="menu__remainder">Hello {{ user.first_name }}, your estimated caffeine content is <span data-ct-timestamp-now="{% now 'r' %}" id="current_caffeine">{% users_current_caffeine %}</span>mg.</p>
    {% endif %}
    </header>
    <main>
    {% block body %}{% endblock %}
    </main>
    </section><!-- layout__window -->
    {% if user.is_authenticated %}
    <nav class="menu">
      <button data-ct-ui-menu-control class="btn menu__control menu__control--without-menu menu--slide">menu</button>
      <div class="menu__body menu--slide">
        <button data-ct-ui-menu-control class="menu__control menu__control menu__control--within-menu">hide menu</button>
        <div class="menu__section">
          <ul class="menu__items">
            <a href="{% url 'overview' %}"><li class="menu__item">Overview</li></a>
          </ul>
        </div>
        <div class="menu__section">
          <h2 class="menu__header">Intake</h2>
          <ul class="menu__items">
            <a href="{% url 'add_record' %}"><li class="menu__item">Add</li></a>
            <a href="{% url 'view_records' %}"><li class="menu__item">View recent</li></a>
          </ul>
        </div>
        <div class="menu__section">
          <div class="menu__sub-menu" data-ct-ui-submenu>
            <h2 class="menu__header" data-ct-ui-submenu-control>Notes</h2>
            <ul class="menu__items menu--slide">
              <a href="{% url 'add_event' %}"><li class="menu__item">Add</li></a>
              <a href="{% url 'view_events' %}"><li class="menu__item">View recent</li></a>
            </ul>
          </div>
        </div>
        <div class="menu__section">
          <div class="menu__sub-menu" data-ct-ui-submenu>
            <h2 class="menu__header" data-ct-ui-submenu-control>Account</h2>
            <ul class="menu__items menu--slide">
              <a href="{% url 'profile' %}"><li class="menu__item">Profile</li></a>
              <a href="{% url 'logout' %}"><li class="menu__item">Logout</li></a>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    {% endif %}
  </div></div>
<script>
(function () {
  // Use JavaScript to asynchronously insert the core JS functionality.
  var s, s0, main_js = "{% if request.extra.DEBUG %}{% static 'js/main.js' %}{% else %}{% static 'js/main.min.js' %}{% endif %}?_={{ request.extra.CACHE_BUSTER }}";
  if (window.CAFFEINE_TRACKER.config.ctm) {
    s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = main_js;
    s0 = document.getElementsByTagName('script')[0];
    s0.parentNode.insertBefore(s, s0);
  }
}());
</script>
<!-- Piwik -->
<script type="text/javascript">
  window._paq = window._paq || [];
  window.setTimeout(function() {
    var _paq = window._paq;
    var u = 'https://stats.decadecity.net/';
    var site_id = 4;
    if (window.location.host === 'caffeinetracker.decadecity.net') {
      site_id = 5;
    }
    _paq.push(['enableLinkTracking']);
    _paq.push(['setTrackerUrl', u + 'piwik.php']);
    _paq.push(['setSiteId', site_id]);
    {% if user.is_authenticated %}
      _paq.push(['setUserId', '{{ request.extra.UID }}']);
    {% endif %}
    _paq.push(['setCustomVariable', 1, 'width', window.document.documentElement.clientWidth, 'visit']);
    _paq.push(['setCustomVariable', 2, 'height', window.document.documentElement.clientHeight, 'visit']);
    _paq.push(['setCustomVariable', 3, 'density', window.devicePixelRatio, 'visit']);
    _paq.push(['setCustomVariable', 5, 'ctm', window.CAFFEINE_TRACKER.config.ctm, 'visit']);
    _paq.push(['trackPageView']);
    var script = document.createElement('script'),
        first_script = document.getElementsByTagName('script')[0];
    script.type = 'text/javascript';
    script.async = true;
    script.defer = true;
    script.src= u + 'piwik.js';
    first_script.parentNode.insertBefore(script,first_script);
  }, 1000);
</script>
<noscript><p><img src="https://stats.decadecity.net/piwik.php?idsite=5" style="border:0;" alt="fnord"/></p></noscript>
<!-- End Piwik Code -->


  </body>
</html>
