{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}Delete an item{% endblock %}

{% block body %}
{% if messages %}
<ul class="messages{% if not form.errors %} messages--success{% endif %}" id="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h1>Are you sure you want to delete this item?</h1>
<form class="django-form" action="{{ request.get_full_path }}" method="post">
    {% csrf_token %}
    <p>{{ record.description }} at {{ record.time }} [{{ record.caffeine }}mg caffeine]</p>
    <input class="btn" type="submit" value="Delete" />
</form>


{% endblock %}
