{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}Recorded items{% endblock %}

{% block body %}
<h1>Recorded items</h1>
{% if not records %}
  <p>There are no recorded items</p>
{% else %}
  <table class="recorded-items">
  <thead>
    <tr><th>Description</th><th>Time</th><th>Caffeine (mg)</th><td></td></tr>
  </thead>
  <tbody>
  {% for record in records %}
    <tr class="recorded-items__item"><td>{{ record.description }}</td><td>{{ record.time }}</td><td>{{ record.caffeine }}</td><td><a href="{% url 'edit_record' %}?id={{ record.pk }}">Edit</a></td></tr>
  {% endfor %}
  </tbody>
  </table>
{% endif %}
{% endblock %}
