{% extends 'base.html' %}
{% load static from staticfiles %}

{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="" method="post" id="record-form">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}


{% block extrajs %}
<script src="{% static 'js/typeahead.bundle.js' %}"></script>
<script>
var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substrRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        // the typeahead jQuery plugin expects suggestions to a
        // JavaScript object, refer to typeahead docs for more info
        matches.push({ value: str });
      }
    });

    cb(matches);
  };
};

var items = {{ items|safe }};

var descriptions = [];
var caffeine_contents = {};

items.forEach(function(item) {
  descriptions.push(item.description);
  caffeine_contents[item.description] = item.caffeine;
});

$('#id_description').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'description',
  displayKey: 'value',
  source: substringMatcher(descriptions)
}).on('keyup change blur typeahead:selected', function(e) {
  var description = e.target.value;
  if (caffeine_contents.hasOwnProperty(description)) {
    $('#id_caffeine').val(caffeine_contents[description]);
  } else {
    $('#id_caffeine').val('');
  }
});
</script>
{% endblock %}
